
<div id="container" class="container-fluid">
<nav class="navbar navbar-default" id="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img id="logo" src="https://bytebucket.org/ilprima/bidderlots/raw/8b65cd6f17053bc4c51b9cc2984eb0c20dba7db2/img/logoBL.png?token=dcbcb735e66932bf5e30e9e9fb29de27569c9426">
      </a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#"> Home </a></li>
      <li><a [routerLink]="['/login']"> Login</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </div>
</nav>
</div>
